.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  background-color: #bbb;
}

header {
  height: 50px;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.ChatRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px); /* Remaining height minus header */
  overflow: hidden;
  width: 50vw;
  margin: 0 auto;
  border: 1px solid #3968c8;
  background-color: #fff;
  padding: 5px 0;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  overflow-x: hidden;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.input-area {
  padding: 10px;
  background-color: #fff;
  display: flex;
  .chatbox {
    width: 90%;
  }
  button {
    width: 10%;
    height: 100%;
    cursor: pointer;
    background: #008000cc;
    color: white;
    border: none;
    &:hover {
      background: #008000;
    }    
  }
}

.loading {
  text-align: left;
  margin-left: 12px;
  padding: 0;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
}

.user-message {
  text-align: left;
  margin: 5px;
  display: flex;

}

.user-message p.content {
  background-color: #dcf8c6;
  padding: 15px;
  justify-content: flex-start;
  border-radius: 10px;
  width: auto;
  margin: 0;
  margin-right: 40px;
}


.ai-message {
  text-align: left;
  margin: 5px;
  padding: 10px;
  background-color: #d8d5d588;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: auto;

}
