.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  background-color: #bbb;
}

header {
  height: 50px;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.ChatRoom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 50px); /* Remaining height minus header */
  overflow: hidden;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  border: 1px solid #3968c8;
  background-color: #fff;
  padding: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/* Additional styles for ChatInput */
.chatbox {
  width: 100%;
  min-height: 50px;
  max-height: 500px;
  /* padding: 10px; */
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow-y: auto;
  white-space: pre-wrap;
}

.input-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f9f9f9;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.char-count {
  align-self: flex-start;
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.send-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.api-params {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}

.api-params label {
  flex: 1;
  margin-right: 10px;
}

.api-params input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  background: #008000cc;
  color: white;
  border: none;
  border-radius: 5px;
  &:hover {
    background: #008000;
  }
}

.loading {
  text-align: left;
  margin-left: 12px;
  padding: 0;
  font-size: 12px;
}

.error {
  color: red;
  margin-top: 10px;
}

.user-message {
  text-align: left;
  margin: 5px;
  display: flex;
}

.user-message p.content {
  background-color: #dcf8c6;
  padding: 15px;
  justify-content: flex-start;
  border-radius: 10px;
  width: auto;
  margin: 0;
  margin-right: 40px;
}

.ai-message {
  text-align: left;
  margin: 5px;
  padding: 10px;
  background-color: #d8d5d588;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  width: auto;
  flex-direction: column;
}
